@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");

.font-weight-regular {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400 !important;
}

.font-weight-medium {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500 !important;
}

.font-weight-semibold {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600 !important;
}

.font-weight-bold {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700 !important;
}
