<marquee style="color: red;" behavior="scroll" direction="right"> Krishi Sahayak Portal is a portal which is one solution to all agriculture related problems for every person!! WELCOME </marquee>
<div class="container-fluid">
  <div class="row mb-20">
    <div class="col-6">
      <h2 class="page-title">Dashboard</h2>
    </div>
  </div>
  <div>
    <div class="row pf-mt15">
      <ngb-accordion #acc="ngbAccordion">
          <ngb-panel id="toggle-1" title="Farmers">
            <ng-template ngbPanelContent>
              <div>
                <p>A farmer is a person engaged in agriculture, raising living organisms for food or raw materials. The term usually applies to people who do some combination of raising field crops, orchards, vineyards, poultry, or other livestock. A farmer might own the farm land or might work as a laborer on land owned by others. In most developed economies, a "farmer" is usually a farm owner (landowner), while employees of the farm are known as farm workers (or farmhands). However, in other older definitions a farmer was a person who promotes or improves the growth of plants, land or crops or raises animals (as livestock or fish) by labor and attention.</p>
                <p>Krishi Sahayak Portal provides solution to different problems of farmer according to their need.</p>
                <a href="/main/ledgers">Move to Farmer's Section for more details </a>
              </div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="toggle-2" title="Non Resident">
              <ng-template ngbPanelContent>
                <div>
                  <p>Non Residents are the farmers who live far away from their land and are not able to maintain their land. Krishi Portal provides you the solution to this problem by making the collabration of a non resident and a farmer who can take care of the land and earn the livelihood </p>
                  <a href="/main/items">Move to Non Resident Section</a>
                </div>
              </ng-template>
          </ngb-panel>
      </ngb-accordion>
  
      <hr/>
  </div>

  


